body{

    width: 100%;
    margin: 0;
    padding: 0;
}
/*-----------nav-----------*/

.topnav{
    font-family: "Monaco", monospace;
    margin: auto;
    max-width: 1000px;
    padding: 5px 300px;
    background-color: black;
    font-size: 20pt;
}
nav ul{
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;

}
nav li a{
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    cursor: pointer;
    text-shadow: 1px 1px 1px white,1px 1px 3px white;
}
nav li a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: whitesmoke;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
    text-shadow: 1px 1px 1px white,1px 1px 3px white;
}
nav li a:hover::after{
    transform: scaleX(1);
}
/*----------------main--------------*/
#main {
    font-family: Verdana, sans-serif;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-image: url('Anh/background.jpg');
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    font-size: 30pt;
    text-shadow: -1px 0 rgba(94, 87, 87, 0.97), 0 1px rgba(94, 87, 87, 0.97), 1px 0 rgba(94, 87, 87, 0.97), 0 -1px rgba(94, 87, 87, 0.97);
}
div#main div{
    width: 50%;
    float: left;
}
.intro{
    text-align: justify;
}
.video{
    align-items: center;
    width: 700px;
    height: 360px;
}
/*-----------------Ly do--------------------*/
#lydo{
    width: 100%;
    text-align: center;
    overflow: auto;
    font-size: 20pt;
}
div#lydo div li{
    width: 33.33%;
    float: left;
}
.ul1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
.ul1 li{
    float: left;
    display: block;
    text-decoration: none ;
}
.ul2{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
.ul2 li{
    float: left;
    display: block;
    text-decoration: none ;
}
/*-----------------Dang ki-----------------*/
#dangki{
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}
.h1{
    text-align: center;
}
input[type=text],input[type=tel],input[type=email], select {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#dangki input[type=submit] {
    background-color: black;
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

 #dangki input[type=submit]:hover {
    background-color: gray;
}

.dangkithongtin {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.cot1 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.cot2 {
    float: left;
    width: 80%;
    margin-top: 6px;
}
.dong::after {
    content: "";
    display: table;
    clear: both;
}
/*-----------------Goi-----------------*/
#khoatap{
    text-align: left;
    font-family: Verdana, sans-serif;

}
#khoatap h1{
    font-size: 60px;
    text-align: center;
}
.flex-goi{
    display: flex;
    justify-content: center;
    column-gap:50px;
}
#khoatap p{
    text-align: center;
}
.tieude{
    font-size: 30px;
}
.gia{
    font-size: 25px;
    color: rgba(117, 15, 15, 0.97);
}
.flex-goi >div{
    width: 400px;
    margin: 100px;
    text-align: center;
    line-height: 70px;
}
.goi1t{
    background-color: #f2f2f2;
    width: 400px;
    height: 550px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}
.goi3t{
    background-color: #f2f2f2;
    width: 400px;
    height: 550px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}
#khoatap input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#khoatap [type=submit]:hover {
    background-color: gray;
}
/*------------------Lien he-------------*/
#lienhe{
    font-family: Verdana, sans-serif;
    font-size: 20px;
    background-color: #f2f2f2;
    width: 100%;
    overflow: auto;
}
div#lienhe div {
    width: 50%;
    float: left;
}